
@font-face {
  font-family: 'Roboto';
  src: /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./staticfiles/fonts/Roboto-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Unbounded';
  src: /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./staticfiles/fonts/Unbounded-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'Montserrat';
  src: /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('./staticfiles/fonts/Montserrat-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* use the font */
body {
  font-family: Roboto, sans-serif;
  font-size: 48px;
}

a{
  text-decoration: none !important;
  
}
.clickable{
  text-decoration: none !important;
  &:hover{
    cursor: pointer;
  }
  user-select: none;
}
.orangeBGButton{
  &:hover{
    background-color: #E8986A !important;
  }
  &:active{
    background-color: #B56537 !important;
  }
  &:disabled{
    background-color: #E1B8A0 !important;
  }
}
.blueTransparentButton{
  &:hover{
    background-color: #395F8D !important;
    color: #F9F3EE !important;
  }
  &:active{
    background-color: #123055 !important;
  }
}
.blueBGButton{
  &:hover{
    background-color: #6991C2 !important;
  }
  &:active{
    background-color: #123055 !important;
  }
}
.transparentLink{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px !important;
  height: 41px !important;
  border-radius: 8px !important;
  &:hover{
    background-color: #EFE1D3 !important;
  }
  &:active{
    background-color: #CFC1B3 !important;
  }
}
.carTypeSelect{
  width: 150px;
  height: 104px;
  border-radius: 8px !important;
  padding-left: 10px;
  padding-right: 10px;
  &:hover{
    background-color: #CFC1B3 !important;
  }
  &.active{
    background-color: #CFC1B3 !important;
  }
}